
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-warning">@ViewBag.ErrorMessage</h4>
<br />
<a asp-area="Common" asp-controller="Home" asp-action="Dashboard"><span>Back To Home</span></a>
