@model FastReport.Web.WebReport
@{
    ViewData["Title"] = "Tenants - Report";
}
<a class="btn btn-danger" asp-controller="Reports" asp-action="PdfPaymentReport">Download PDF</a><br /><br />
@await ViewBag.WebReport.Render()