@model BookingStatusViewModel
<div class="row">
    <div class="col-md-12 mx-auto">
        <form asp-action="StatusEdit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingStatusCode" />
            <div class="form-group mb-3">
                <label asp-for="BookingStatusDescription" class="form-label"></label>
                <input asp-for="BookingStatusDescription" class="form-control" />
                <span asp-validation-for="BookingStatusDescription" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Update" class="btn btn_modal" />
                <input type="button" value="Close" data-bs-dismiss="modal" class="btn btn_modal_close" />
            </div>
        </form>
    </div>
</div>